*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     color: white;
   
    scroll-behavior: smooth;

}
body{
   
    background-image: url("./arquivos/background.jpg");
    background-position: center;
    background-size: cover;
 
   
   
   
}

#div_seta_baixo{
    
    width: 100px;
    height: 100px;
   
    left: 50%;
    font-size: 100px;
     display: flex;
     position: fixed;
     font-size: 50px;
     bottom: 20px;
     z-index: 5;
     justify-content: center;
    text-align: center;
    border-radius: 100px;
    flex-direction: column;
    animation: cb 500ms infinite alternate;
    cursor: pointer;
    background: black;
    opacity: 1;
    transition:  all 300ms ease-in-out;
}

#div_seta_baixo.hidden{
    opacity: 0;
}

a{
    text-decoration: none;
   
}
#seta_cima{
    right: 0;
   
    display: flex;
    position: fixed;
    
    bottom: 3px;
    z-index: 5;
    
    opacity: 0;
    transition:  all 300ms ease-in-out;
}
#link_seta_cima{
    cursor:default;
}
#seta_cima.visible{
    bottom: 0px;
    opacity: 1;
    animation: cb 2000ms infinite alternate;
}
section{
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    gap: 1px;
    align-items: center;
    justify-content: center;
    min-height: 1000px;
    min-width: 1100px;
    height: 100dvh;
    width: 100dvw;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
 
}


footer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-wrap: wrap;
    height: 100px;
}


.p_sessao>h1{
    position: absolute;
    font-size: 120px;
    top: 20px;
    
    animation: rgb 2s infinite alternate;
    transition: all 300ms ease-out;
  
}
.p_sessao>h2{
    position: absolute;
    font-size: 80px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rgb 2s infinite alternate;
    z-index: 5;
}
.p_sessao>h1:hover{
    transform: scale(1.1);
}
#Escrever:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite alternate;
   }
   
 #borda_da_foto{
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
   border-radius: 50%;
    bottom: 5px;
    right: 50px;
    transition: all 300ms ease-in-out;
    z-index: 2;
 } 
 #borda_da_foto:hover{
    transform: translatex(10px);
 }
#borda_da_foto>img{
    position: relative;
    height: 500px;
    border-radius: 50%;
   filter: drop-shadow(0px 0px 1px purple);
   transition: all 300ms ease-in-out;
   
}
#borda_da_foto>img:hover{
    transform:  translateY(-25px) rotate(-10deg) translateX(-20px) scale(1.1);
}
.s_sessao{
    
    position: relative;
    
    flex-wrap: wrap;
}
h2{
    font-size: 50px;
    position: absolute;
    top: 1px;
    left: 5px;
    animation: rgb 2s infinite alternate; 
}
.centralizar{
    display: flex;
    position: relative;
    width: 1000px;
    height: 800px;
    
    justify-content: center;
    align-items: center;
    margin: 75px auto;
}
.imagens{
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    
}
.imagens>img{
    height: 150px;
    border: 5px solid ;
    border-radius: 50%;
    background: black;
    animation: rgb_img 2s infinite alternate;
    z-index: 2;
    transition: 300ms ease-in-out;
    
}
.img:hover{
    transform: scale(1.05);

}
.imagens>img:nth-child(1){
    
    position: absolute;
    top: 10%;
}
.imagens>img:nth-child(2){
    
    position: absolute;
    top: 25%;
}
.imagens>img:nth-child(3){
    
    position: absolute;
    bottom: 40%;
}
.imagens>img:nth-child(4){
    
    position: absolute;
    bottom: 25%;
}
.imagens>img:nth-child(5){
    
    position: absolute;
    bottom: 12%;
}

.linhas{
    position: relative;
    border-bottom: 15px solid purple;
    border-radius: 50%;
    width: 900px;
    height: 100px;
    max-width: 70%;
    left: 155px;
    z-index: 1;
}
.linha1{
    top: 20%;
    
    position: absolute;
    transform: rotate(10deg);
 
   
}
.linha2{
    top: 40%;
    transform: rotate(-10deg);
    position: absolute;
    
}
.linha3{
    bottom: 35%;
    transform: rotate(5deg);
    position: absolute;
  
    
}
.linha4{
    bottom: 20%;
    transform: rotate(-7deg);
    position: absolute;
  
    
}


.l_esquerdo{
    position: absolute;
    left: 30px;
}
.l_direito{
    position: absolute;
    background: black;
    right: 30px;
    
}
@media screen and  (min-width: 1800px) {
    body{
        background-color: black;
        color: white;
        overflow-x: hidden;
    }
    
}

    

@keyframes cb{
    0%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(2px);
    }
}
@keyframes rgb{
 0%{
    filter: drop-shadow(0px 0px 5px green);
    
 }
 50%{
    filter: drop-shadow(0px 0px 5px blue);
   
 }
 100%{
    filter: drop-shadow(0px 0px 5px red);
    
 }
}
@keyframes rgb_img{
    0%{
       filter: drop-shadow(0px 0px 5px green);
       border-color: green;
    }
    50%{
       filter: drop-shadow(0px 0px 5px blue);
       border-color: blue;
    }
    100%{
       filter: drop-shadow(0px 0px 5px red);
       border-color: red;
    }
   }
   @keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
